body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../img/imagemDeFundo/dragoes_lol.jpg");
    background-size: cover;
}

/* /////////////// HEADER /////////////// */


.navbar 
{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4vh;
    box-shadow: 0px 3px 10px;
    background-color: white;
    z-index: 999;
    margin: 0;
}

.opcoes 
{
    text-decoration: none;
    font-size: 2vh;
    margin: 10px;
    color: black;
}

.opcoes:hover
{
    color: gray;
}

.cadastrar
{
    text-decoration: none;
    font-size: 2.2vh;
    margin: 5px;
    color: black;
}

.pags 
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1vw;
}

#CBLOL
{
    background-image: linear-gradient(82deg, red, blue);
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vh;
    margin-left: 1vw;
}

#CBLOL:hover
{
    transform: scale(0.9);
    transition: 0.5s;
}

/* /////////////// MAIN /////////////// */

main
{
    position: relative;
    padding-top: 5.3vh;
    align-items: top;
}

.row
{
    margin: 0 1vw;
}

.col
{
    margin-top: 15px;
}

.selecionar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoTimes
{
    color: white;
    margin-right: 10px;
}

#Time
{
    border-radius: 1vh;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vh;
    background-color: rgba(255, 255, 255, 0.920);
    
}

.card-body
{
    display: contents;
    justify-content: center;
}

.card-img-top
{
    display: flex;
    justify-items: center;
    height: 15vh;
    width: fit-content;
    border-radius: 100%;
    margin-bottom: 10px;
}

.card h5
{   
    font-size: 2vh;
    display: flex;
    justify-content: center;
}

.card-position
{
    height: 9vh;
    width: fit-content; 
}

/* Botão editar */

.botao_liquido
{
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 170px;
    overflow: hidden;
    border-radius: 40px;
}

.botao_liquido span
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    letter-spacing: 2px;
    z-index: 1;
}

.botao_liquido .liquid
{
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0,0,0, .5);
    transition: .5s;
}
.botao_liquido .liquid::after,
.botao_liquido .liquid::before
{
    content:'';
    width: 200%;
    height: 200%;
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.botao_liquido .liquid::before
{
    border-radius: 45%;
    background: rgba(20,20,20,1);
    animation: animate 5s linear infinite;
}

.botao_liquido .liquid::after
{
    border-radius: 40%;
    background: rgba(20,20,20,.5);
    animation: animate 10s linear infinite;
}

.botao_liquido:hover .liquid
{
    top: -120px
}

@keyframes animate
{
    0%
    {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
.editar
{
    border-radius: 35%;
}







